//-------------------------
//---------------TYPOGRAPHY
//-------------------------

//------FONT-FACE
// @include fontFace (Gotham, gotham-light);

//------FONT SIZES
html {
    $fontSizePX: dimFunc(font, base) + 'px';
    font-size  : #{$fontSizePX};

    @include breakpoint (tablet) {
        font-size: 1.3333vw; // On 750px font size = 10px
    }
    @include breakpoint (phone) {
        font-size: 1.5625vw; // On 640px font size = 10px
    }
}
body {
    font-size: 100%;
    font-family: fontFunc(base, default), #{fontFunc(default)};
}

//------DEFAULT STYLES
b,
strong {
    font-weight: bold;
}
i,
em {
    font-style: italic;
}
u {
    text-decoration: underline;
}

//------STYLES
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
p {

}
span {

}
