/*------------------------------------------------------------------------------
*    CSS Document (http://www.w3.org/Style/CSS/)
*    For STYLEGUIDE, reffer to /config/_styleguide.scss
-----------------------------------------------------------------------------*/
/* EXAMPLE
*    @include breakpoint (phone) {
*        width: 40%;
*    }
*/
/* EXAMPLE
*
*    @include borderRadius (10em 1em 3em 2px);
*    @include borderRadius (3em);
*/
/* EXAMPLE
*    @include transition (opacity 0.2s linear);
*    Default is 'all 0.3s ease-in-out'
*/
/* EXAMPLE
*    @include transform (rotate(10deg));
*    Default is 'translate(-50%, -50%)'
*/
/* EXAMPLE
*
*	@include calc (width, "100% - 3rem");
*		MUST USE QUOTES ON VALUE
*/
/* EXAMPLE
*
*    input { @include inputPlaceholder { color: #FA0; } }
*/
/* EXAMPLE
*
*    @include fontFace (FontName, fontFolder, 700, italic);
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after,
blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details,
figcaption, figure, footer,
header, hgroup, main,
menu, nav, section,
summary {
  display: block; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

::-moz-selection {
  color: #FFF;
  background-color: #262626; }

::selection {
  color: #FFF;
  background-color: #262626; }

::-moz-selection {
  color: #FFF;
  background-color: #262626; }

::-webkit-selection {
  color: #FFF;
  background-color: #262626; }

html {
  overflow-y: scroll; }

html, body {
  width: 100%;
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%; }

a {
  outline: none;
  text-decoration: none; }

html {
  -webkit-font-smoothing: antialiased; }

input,
textarea,
select {
  box-sizing: inherit; }

input[type="search"] {
  -webkit-appearance: textfield !important; }

input[type="search"]::-webkit-search-cancel-button {
  display: none; }

@font-face {
  font-family: "Gotham";
  src: url("http://static1.webedia.fr/fonts/gotham-light.eot?") format("eot"), url("http://static1.webedia.fr/fonts/gotham-light.woff2") format("woff2"), url("http://static1.webedia.fr/fonts/gotham-light.woff") format("woff"), url("http://static1.webedia.fr/fonts/gotham-light.ttf") format("truetype"), url("http://static1.webedia.fr/fonts/gotham-light.svg#Gotham") format("svg"); }

html {
  font-size: 10px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    html {
      font-size: 6.66667px; } }
  @media (max-width: 767px) {
    html {
      font-size: 5px; } }

body {
  font-size: 100%;
  font-family: "Gotham", Arial, Helvetica, Tahoma, sans-serif; }

b,
strong {
  font-weight: bold; }

i,
em {
  font-style: italic; }

u {
  text-decoration: underline; }

h1 {
  font-size: 7.2rem; }

.clear {
  clear: both; }

.hide {
  display: none; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.fleft {
  float: left; }

.fright {
  float: right; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.vertical-top {
  vertical-align: top; }

.vertical-middle {
  vertical-align: middle; }

.table {
  display: table; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.flag, .flag--block, .flag--large, .flag--right {
  width: 33.33333%; }

.btn {
  border: none;
  outline: none;
  -webkit-appearance: none; }

.flag, .flag--block, .flag--large, .flag--right {
  display: table;
  padding: 0 2em;
  float: left; }
  .flag__media {
    display: table-row; }
    .flag__media img {
      width: 100%; }
  .flag__body {
    display: table-row; }

.flag--block {
  width: 100%; }
  .flag--block .flag__media {
    display: table-cell;
    vertical-align: top; }
  .flag--block .flag__body {
    display: table-cell;
    vertical-align: middle; }

.flag--large .flag__media {
  width: 50%; }

.flag--large .flag__body {
  width: 50%; }

.flag--right {
  direction: rtl; }
  .flag--right .flag__media,
  .flag--right .flag__body {
    direction: ltr; }
