//-------------------------
//-------------SLICK SLIDER
//-------------------------
.hpSlider {
    img {
        margin: 0 auto;
    }
}

.hpSlider__text {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
}

.slick-arrow {
    position: absolute;
    top: 50%;

	@include transform(translate(-50%));

    z-index: $levelHill;

    &.slick-next {
        right: 0;
    }

    &.slick-prev {
        left: 0;
    }
}
