//-------------------------
//--------VARIABLES | PATHS
//-------------------------
$fontBaseUrl   : "http://static1.webedia.fr/fonts/";
$localFontBase : "/_common/fonts";
$imgBaseUrl    : "/web/skins/default/";
