//---------------------------
//----------VARIABLES | FONTS
//---------------------------
$fonts: (
	default: 'Arial, Helvetica, Tahoma, sans-serif',

	base: (
		default: 'Roboto',
		bold   : 'Roboto Bold',
		italic : 'Roboto Italic'
	)
);
