//-------------------------
//-------VARIABLES | COLORS
//-------------------------
$colors: (

	brands: (
		facebook : #3B5998,
		twitter  : #1DA1F2,
		whatsapp : #43D854,
		youtube  : #CD201F,
		messenger: #0084FF
	),

	header: (
		text: #000,
		background: #EFEFEF
	)
);


//---Variables used in the @for loop for different brand colors
$brandArray : facebook, twitter, whatsapp, youtube, messenger, shuffle;
$brandLength: length($brandArray) + 1;
