//-------------------------
//------VARIABLES | Z-INDEX
//-------------------------
$levelHole 		  : -1;
$levelGround      : 1;
$levelHill        : 2;
$levelMountain    : 3;
$levelAtmosphere  : 4;
$levelStratosphere: 5;
$levelSpace       : 6;
