//-------------------------
//-------VARIABLES | COLORS
//-------------------------
$colorWhite: #FFF;
$colorBlack: #000;
$colorRed  : #F00;
$colorGreen: #0F0;
$colorBlue : #00F;
$colorMain : $colorWhite;
