//-------------------------
//----------------CONTAINER
//-------------------------
.container {
    @extend %clearfix;

    width: 80vw;
    margin: 0 auto;

    position: relative;
}

.container--flag {
    @extend .container;
}

.row {
    @include gridRow();

    background: rgb(34, 201, 207);
}
