//-------------------------
//----------------SEARCH
//-------------------------

.search {
    width: 20%;
    position: relative;

    float: right;
    &__content {
        width: 0;
        height: 5rem;

        position: absolute;
        top: 0;
        float: right;

        border: 0px solid black;
    }
    &__button {
        width: 9rem;
        height: 5rem;
        padding-top: 0.8rem;

        position: relative;
        float: right;

        background-color: white;
        border: 1px solid black;

        text-align: center;
    }
    .open {
        width: 20rem;

        border: 1px solid black;

        transition: 0.3s all ease-in-out;
    }
}
