//-------------------------
//---------TRANSITION MIXIN
//-------------------------

/* EXAMPLE
*    @include transition (opacity 0.2s linear);
*    Default is 'all 0.3s ease-in-out'
*/

@mixin transition ($params: all 0.3s ease-in-out) {
    -webkit-transition: $params;
     -khtml-transition: $params;
       -moz-transition: $params;
        -ms-transition: $params;
         -o-transition: $params;
            transition: $params;
}
