//-------------------------
//---------------------FLAG
//-------------------------
.flag {
    display: table;
    @extend .col-4-12;
    float: left;

    // Article image
    &__media {
        display: table-cell;
        @extend .col-6-12;
        img {
            width: 100%;
        }
    }

    // Article text (tag, title, intro, date)
    &__body {
        display: table-cell;
        vertical-align: middle;
    }
}
