//-------------------------
//------------------HELPERS
//-------------------------
%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
%invisible {
    width      : 1px;
    height     : 1px;

    position   : absolute;
    left       : 0;

    text-indent: -5000px;

    overflow   : hidden;
}


.clear           { clear: both; }

.hide            { display: none; }
.block           { display: block; }
.inline-block    { display: inline-block; }

.fleft           { float: left; }
.fright          { float: right; }

.fixed           { position: fixed; }
.relative        { position: relative; }
.absolute        { position: absolute; }

.vertical-top    { vertical-align: top; }
.vertical-middle { vertical-align: middle; }

.table           { display: table; }
.table-row       { display: table-row; }
.table-cell      { display: table-cell; }

.uppercase       { text-transform: uppercase; }
.lowercase       { text-transform: lowercase; }
.capitalize      { text-transform: capitalize; }


//------COMMON COLUMN WIDTHS
%col-1-2 {
    width: percentage(1/2);
}
%col-1-3 {
    width: percentage(1/3);
}
%col-2-3 {
    width: percentage(2/3);
}
%col-1-4 {
    width: percentage(1/4);
}
%col-3-4 {
    width: percentage(3/4);
}
