//-------------------------
//---------------TYPOGRAPHY
//-------------------------

//------FONT-FACE
// @include fontFace (Gotham, gotham-light);

//------FONT SIZES
html {
    $fontSizePX: $baseFontSize + 'px';
    font-size  : #{$fontSizePX};

    @include breakpoint (tablet) {
        $fontSizePX: $baseFontSize / 1.5 + 'px';
        font-size  : #{$fontSizePX};
    }
    @include breakpoint (phone) {
        $fontSizePX: $baseFontSize / 2 + 'px';
        font-size  : #{$fontSizePX};
    }
}
body {
    font-size: 100%;
    font-family: $baseFont;
}

//------DEFAULT STYLES
b,
strong {
    font-weight: bold;
}
i,
em {
    font-style: italic;
}
u {
    text-decoration: underline;
}

//------STYLES
h1 {
    font-size: 7.2rem;
}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
p {

}
span {

}
