//-------------------------
//----------------VARIABLES
//-------------------------

//-----COLORS
$colorWhite: #FFF;
$colorBlack: #000;
$colorRed  : #F00;
$colorGreen: #0F0;
$colorBlue : #00F;
$colorMain : $colorWhite;


//-----PATHS
$fontBaseUrl   : "http://static1.webedia.fr/fonts/";
$localFontBase : "/_common/fonts";
$imgBaseUrl    : "/web/skins/default/";


//------DIMENSIONS
$baseFontSize: 10;

$largeImageFlagWidth: 50%;


//------MEDIA QUERIES
$mobile--small   : 480px;
$tablet          : 768px;
$desktop         : 1025px;
$desktop--large  : 1600px;

$toPhone--small  : 479px;
$toTablet        : 767px;
$toDesktop       : 1024px;
$toDesktop--large: 1599px;


//------FONTS
$fontDefault     : Arial, Helvetica, Tahoma, sans-serif;
$baseFont        : "Gotham", $fontDefault;
$baseFont--bold  : "", $fontDefault;
$baseFont--italic: "", $fontDefault;


//------Z INDEX LEVELS
$levelBottom: 1;
$levelMiddle: 2;
$levelTop   : 3;
